_screens**/**
output/**
obj/**
bin/**
ffmpeg/**
deepdupes.db
deepdupes.db-shm
deepdupes.db-wal
settings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/DuplicateVideoRemover/config/applicationhost.config
.vs/DuplicateVideoRemover/v16/.suo

.fake